@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?xd2ald');
	src: url('../fonts/icomoon.eot?xd2ald#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?xd2ald') format('truetype'),
		url('../fonts/icomoon.woff?xd2ald') format('woff'),
		url('../fonts/icomoon.svg?xd2ald#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
